*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.boody{
}

#cont{
    display: flex;
    justify-content: center;
}
#login{
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 2px;
    margin-top: 9%;
    background-color: rgb(214, 177, 198);
    box-shadow: 0 0 2em rgb(250, 161, 242);
    border-radius: 15px;
}
#login:hover{
    box-shadow: 0 0 3em rgb(255, 157, 217);
    transition: 1s;
}
#user{
    margin: 10px;
    border-radius: 6px;
}
#senha{
    margin: 10px;
    border-radius: 6px;
}
#entrar{
    margin-top: 20px;
    width: 170px;
    height: 30px;
    border-radius: 20px;
}
#entrar:hover{
    background-color: rgb(85, 253, 253);
    color: aliceblue;
    transition: 1s;
}
.titulo{
    font-weight: bold;
}
#titulo-login{
    margin-top: -30px;
    margin: 30px;
    font-weight: bold;
    font-size: 25px;
}