*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

table{
    margin: 100px;
    border-collapse: separate;
    border-spacing: 0 8px;
}

th{
    border: 1px solid rgb(204, 49, 255);
    border-left-width: 0;
    min-width: 120px;
    height: 18px;
}
#btn{
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 20%;
    background-color: rgb(118, 6, 255);
    color: aliceblue;
}